.light {
    background-color: white;
    color: black;
  }
  
  .dark {
    background-color: black;
    color: white;
  }
  button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  button:hover {
    background-color: #3E8E41;
  }
  .read-more {
    color: blue;          
    text-decoration: underline;  
    cursor: pointer;     
  }
  
  .read-more:hover {
    color: darkblue;      
  }
  
  